{% extends "index.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 mb-4">
        <h1 class="mt-5">BIBLIOTEKA FILMÓW</h1>
        <p class="lead">baza najlepszych tytułów w sieci!</p>
    </div>

    <div class="col-lg-12 mb-4">
            <a href='{{ url_for('homepage', list_type="now_playing") }}' class="btn btn-outline-info">Aktualnie grane</a>
            <a href='{{ url_for('homepage', list_type="popular") }}' class="btn btn-outline-info">Najpopularniejsze</a>
            <a href='{{ url_for('homepage', list_type="top_rated") }}' class="btn btn-outline-info">TOP of the TOP</a>
            <a href='{{ url_for('homepage', list_type="upcoming") }}' class="btn btn-outline-info">Premiera wkrótce</a>
        </div>

    {% for movie in movies %}
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src='{{ tmdb_image_url(movie.poster_path, "w780") }}' alt="{{ movie.title }}">
            <div class="card-body">
                <h4 class="card-title">{{ movie.title }}</h4>
                <h7 class="card-body">{{ movie.overview }}</h7>
            
            </div>
            <div class="card-footer text-center">
                <a href="{{ url_for ('movie_details', movie_id=movie.id) }}" class="btn btn-primary">Pokaż więcej</a>
            </div>
        </div>
    </div>
    {% endfor %}
 </div>
{% endblock %}